doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		link(rel="stylesheet", href="all.min.css")
		title Lesson3
body
	include ./mixin.jade
	.container
		ul#elements
			- var count = 5
			- for (var i = 1; i <= 5; i++){
				li
					Элемент  #{i}
			-}
		form(method='post')
			input(type="text", name="insert")
			br
			br
			+input ("First", "Выбрать первый", "selectFirst")
			+input ("Last", "Выбрать последний", "selectLast")
			+input ("Next", "Выбрать следующий", "selectNext")
			+input ("Previous", "Выбрать предыдущий", "selectPrevious")
			+input ("Add", "Добавить элемент", "addElement")
			+input ("Remove", "Удалить элемент", "removeElement")
			+input ("Insert", "Вставить  в начало", "insertUp")
	script(src="./js/main.js")
			


	

		
